# Carga de datos read_csv

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
mainpath = "../python-ml-course-master/datasets/"
filename= "titanic/titanic3.csv"
fullpath = mainpath + "/" + filename
#  USANDO OS--> fullpath= os.path.join (mainpath, filename)

In [3]:
df = pd.read_csv(fullpath)

In [4]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Parametros de read_csv()
#### Son mas de 30

In [5]:
# read_scv(filepath="/Users/user/Desktop/ ")
# puede ser tambien una URL

In [6]:
# read_csv(sep = ",")
# Separadores: , " " . etc

In [7]:
# read_csv(dtype=None)
# Especifica el tipo de dato, puede cambiar numero flotante a entero
#Ejemplo read.csv(dtype={"a":np.float64, "b":np.int32})

In [8]:
# read_csv(header=None)
# Puede ser Int o Str
#Se especifica q fila va a ser la cabecera (generalmente es la primera)
# se pone header="nombre de la fila"

In [9]:
# read_csv(names={"a", "b", "c"})
# Indicar los nombres de las columnas con un array

In [10]:
# read_csv(skiprows=None)
# Puede ser entero o lista
# Es para saltear cierto numero de filas, lee a partir de la prox fila salteada
# Ejemplo skiprows=12

In [11]:
# read_csv(index_col=None)
# Indica q columna sera la etiqueta de cada fila

In [12]:
# read_csv(skip_blank_lines=True/False)
# Saltea los espacios blancos en vez de transformarlos en NaN
# True saltea valores en blanco y evita NaN

In [13]:
# read_csv(na_filter=True/False)
# Detectar los marcadores de valores q falten (vacios, en blanco, etc)
# Elimina toda la fila q contenga algun valor en blanco
# Puede achicar mucho los datasets y dejarlos obsoletos
# False para no bajar los NaN

In [14]:
data2 = pd.read_csv(mainpath + "/" + "/customer-churn-model/Customer Churn Model.txt")

In [15]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Para cambiar los nombres de las cabeceras

In [16]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [17]:
data_cols = pd.read_csv(mainpath + "/" + "/customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()

In [18]:
data_col_list

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U']

In [19]:
data2 = pd.read_csv(mainpath + "/" + "/customer-churn-model/Customer Churn Model.txt",
                   header=None, names=data_col_list)

In [20]:
data2.head()

,A,B,C,D,E,F,G,H,I,J,...,L,M,N,O,P,Q,R,S,T,U
0,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
2,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
3,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
4,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.

### Cargar datos a traves de la funcion open
#### Para evitar en bases de datos gigantes saturar la memoria ram
#### Carga parcialmente los datos (son solo de lectura)
#### Lee linea por linea y no todo junto como pandas

In [21]:
data3 = open(mainpath + "/" + "/customer-churn-model/Customer Churn Model.txt", "r")

In [22]:
cols = data3.readline().strip().split(",")
cols

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [23]:
n_cols = len(cols)
n_cols

21

In [24]:
counter = 0
main_dict = {}

for col in cols:
    main_dict[col] = []

In [25]:
for line in data3:
    values = line.strip().split(",")
    for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
    counter += 1
print("El data set tiene %d de filas y %d columnas"%(counter, n_cols))

El data set tiene 3333 de filas y 21 columnas

#### Leer y Escribir un fichero con Python

In [26]:
infile = mainpath + "/" + "/customer-churn-model/Customer Churn Model.txt"
outfile = mainpath + "/" + "/customer-churn-model/Tab Customer Churn Model.txt"

In [27]:
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")
            outfile1.write("\t".join(fields))
            outfile1.write("\n")

Creamos un fichero nuevo q separa con tabulador los datos

In [28]:
df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Leer datos desde URL

In [29]:
medals_url = "http://winterolympicsmedals.com/medals.csv"
medals_data = pd.read_csv(medals_url)

In [30]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [31]:
# Librerias para mas herramientas
import urllib3

In [65]:
# Conexion con la web por los datos
http = urllib3.PoolManager()
r = http.request("GET", medals_url)
r.status
print("El estado de la respuesta es %d" %(r.status))
response = r.data

El estado de la respuesta es 200

In [50]:
# El objeto response contiene un string binario, se convierte a string decodificandolo con UTF-8
str_data = response.decode('utf-8')

In [53]:
# Dividir el string en un array de filas, separando por intros
lines = str_data.split("\n")

In [56]:
# Primera linea contiene cabecera, asi q la extraemos
col_names = lines[0].split(",")
n_cols = len(col_names)

In [58]:
# Generamos un diccionario vacio donde ira la info procesada de la URL externa
counter = 0 
main_dict = {}
for col in col_names:
    main_dict[col] = []

In [60]:
#Procesamos fila a fila la info para ir llenando el diccionario  con los datos 
for line in lines:
    #Nos saltamos la primera linea q contiene la cabecera y ya tenemos procesada
    if(counter > 0):
        #Dividimos cada string por las comas como separador
        values = line.strip().split(",")
        #Anadimos cada valor a su respectiva columna de diccionario
        for i in range(len(col_names)):
            main_dict[col_names[i]].append(values[i])
    counter += 1
    
print ("El data set tiene %d filas y %d columnas" %(counter, n_cols))

El data set tiene 4624 filas y 8 columnas

In [61]:
#convertimos el diccionario procesado a Data Frame y comprobamos que los datos sean correctos
medals_df = pd.DataFrame(main_dict)
medals_df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [62]:
#Elegimos donde guardarlo 
mainpath = "../python-ml-course-master/datasets/athletes/"
filename = "downloaded_medals"
fullpath = os.path.join(mainpath + filename)

In [64]:
# Lo pasamos a otro formato
medals_df.to_csv(fullpath+".cvs")

### Obtencion de datos de URL en forma de Funcion

In [67]:
def downloadFromUrl(url, filename):
    
    # Conexion con la web por los datos
    http = urllib3.PoolManager()
    r = http.request("GET", url)
    r.status
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data 
    
   # El objeto response contiene un string binario, se convierte a string decodificandolo con UTF-8
    str_data = response.decode('utf-8')

    # Dividir el string en un array de filas, separando por intros
    lines = str_data.split("\n")

    # Primera linea contiene cabecera, asi q la extraemos
    col_names = lines[0].split(",")
    n_cols = len(col_names)

    # Generamos un diccionario vacio donde ira la info procesada de la URL externa
    counter = 0 
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    #Procesamos fila a fila la info para ir llenando el diccionario  con los datos 
    for line in lines:
        #Nos saltamos la primera linea q contiene la cabecera y ya tenemos procesada
        if(counter > 0):
            #Dividimos cada string por las comas como separador
            values = line.strip().split(",")
            #Anadimos cada valor a su respectiva columna de diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter += 1

    print ("El data set tiene %d filas y %d columnas" %(counter, n_cols))

    #convertimos el diccionario procesado a Data Frame y comprobamos que los datos sean correctos
    dataframe = pd.DataFrame(main_dict)
    dataframe.head()

    #Elegimos donde guardarlo 
    mainpath = "../python-ml-course-master/datasets/nuevos/"
    fullpath = os.path.join(mainpath + filename)

    # Lo pasamos a otro formato
    dataframe.to_csv(fullpath+".cvs")

In [33]:
import csv

In [34]:
cr = csv.reader(response)

In [35]:
cr

In [36]:
cols = cr.readline().strip().split(",")

AttributeError: '_csv.reader' object has no attribute 'readline'

### Ficheros XLS y XLSX

In [38]:
mainpath = "../python-ml-course-master/datasets/"
filename= "titanic/titanic3.xls"
filename1= "titanic/titanic3.xlsx"

In [39]:
titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3")
# (Ruta + Nombre del archivo , Pestana)

In [40]:
titanic3 = pd.read_excel(mainpath + "/" + filename1)

Otra variable es read table

In [41]:
## Convertir los datos a otro formato
titanic3.to_csv(mainpath + "/titanic/titanic_custom.csv")
titanic3.to_excel(mainpath + "/titanic/titanic_custom.xlsx")
titanic3.to_json(mainpath + "/titanic/titanic_custom.json")